.modal-confirmation-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: -30%;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-confirmation-container {
  background: #fff;
  width: 100%;
  max-width: 592px;
  height: 160px;
  padding: 32px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  position: relative;
}

.modal-confirmation-container header {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.modal-confirmation-container h1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark-gray);
}

.modal-confirmation-container button {
  background: transparent;
  border: 0;
  position: absolute;
  top: 15px;
  right: 20px;
  outline: none;
}

.modal-confirmation-container span {
  font-size: 16px;
  color: var(--dark-gray);
}
